
@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Email: <a href="mailto:kyle.james1@dcmail.ca">kyle.james1@dcmail.ca</a></p>
    <p>Phone: (905)555-5555</p>
</div>
